	#notificationBlock{
		position: absolute;
		top: 5px;
		right: 5px;
	}
	.notification{
		z-index: 9999;
		width: 300px;
		height: auto;
		margin: 5px !important;
		padding-top: 5px;
		padding-bottom: 5px;
		opacity: 0.5;
		font-size: 80%
	}
	.notification:hover{
		opacity: 1;
	}